#Portfolio {
    width: 100vw;
    text-align: center;
}

#Portfolio h1 {
    color: #2E5664;
}

.project-parent-container {
    display: flex;
    justify-content: space-evenly;
}

.project-div {
    border: 2px solid blue;
}

.project-div:hover {}