#Footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa {}

.footer-bar {
    display: flex;
}

.footer-bar a {
    color: royalblue;
    cursor: pointer;
    margin: 10px;
}

.copyright {
    font-size: 15px;
}