#Footer {
    width: 100vw;
    text-align: center;
}

.fa {
    color: black;
    cursor: pointer;
}

/* .footer {
    width: 100%;
    margin-top: 7%;
} */

.footer-bar {
    display: flex;
    justify-content: center;
}

.footer-item {
    color: black;
    /* list-style-type: none; */
    height: 60px;
    width: 60px;
}