#Header {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    display: flex;
}

.nav-item {
    justify-items: space-between;
}

.nav-link {
    text-decoration: none;
    letter-spacing: 1px;
}