#Header {
    display: flex;
    justify-content: center;
}

.nav-list {
    display: flex;
    flex-direction: row;
}

.nav-item {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    text-decoration: none;
    letter-spacing: 1px;
}