.nav-parent {
    width: 100vw;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E5664
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
}

.nav-link {
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
    margin: 0 12px;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: whitesmoke;
}