.about {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.about h1 {
    align-self: center;
    color: #2E5664;
}

.about-parent {
    margin: 0 15%;
    display: flex;
}

.image-div {
    margin-right: 5%;
}

.statement-div {
    align-self: center;
    margin-right: 10%;
}